a:visited {
    color: blueviolet;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}